@import "../../styles/variables";

#movie-detail-component {
  padding: 60px;

  h4 {
    margin-bottom: 5px;
  }

  .title {
    align-items: center;
    justify-content: space-between;
  }

  .summary {
    margin-top: 15px;
    margin-bottom: 15px
  }

  .pill {
    display: inline-block;
    background-color: $color-secondary;
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .commentArea {
    display: inline-block;
    border: 1px solid #BCC8DE;
    width: 100%;
    resize: none;
    padding: 8px 15px;
    font-family: "Montserrat Medium", sans-serif;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .submitComment {
    color: #FFFFFF;
    background-color: #355C7D;
    border: 2px solid #FFFFFF;
    box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.14), 1px 3px 5px 1px rgba(0, 0, 0, 0.12), 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: "Montserrat Bold", sans-serif;
    padding: 8px 15px;
    display: inline-block;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px 50px 50px 50px;
    transition: all 0.3s;
    float: right;
  }

  .reviewCard {
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}